{% extends 'blog_layout.html' %}
{% load bootstrap3 %}

{% block page_title %}글 목록{% endblock %}

{% block body %}

{% for post in posts %}
    <div class="post_container">
        <h3 class="post_title"><a href="{% url 'blog:view_post' post.pk %}">{{ post.title }}</a></h3>

        <div class="post_content">{{ post.content }}</div>

        <div>
            <p><span>글 갈래</span>{{ post.category.name }}</p>
            <p><span>작성일시</span>{{ post.created_at }}</p>
        </div>
    </div>
{% empty %}
    <p>글이 하나도 없습니다.</p>
{% endfor %}

    {% bootstrap_pagination posts %}

{% endblock %}