
{% for post in posts %}
    <div class="post_container">
        <h3 class="post_title"><a href="{% url 'blog:view_post' post.pk %}">{{ post.title }}</a></h3>

        <div class="post_content">{{ post.content }}</div>

        <div>
            <p><span>글 갈래</span>{{ post.category.name }}</p>
            <p><span>작성일시</span>{{ post.created_at }}</p>
        </div>
    </div>
{% empty %}
    <p>글이 하나도 없습니다.</p>
{% endfor %}

{% if posts.has_previous %}
<span><a href="?page={{ posts.previous_page_number }}">이전 쪽</a></span>
{% endif %}

<span>{{ posts.number }} / {{ posts.paginator.num_pages }}</span>

{% if posts.has_next %}
<span><a href="?page={{ posts.next_page_number }}">다음 쪽</a></span>
{% endif %}